*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/lib_diff_api/build/
/lib_diff_api/build/intermediates/javac/debug/classes/